USE [master]
GO
/****** Object:  Database [JOB]    Script Date: 12/21/2019 10:57:34 AM ******/
CREATE DATABASE [JOB]
GO
USE [JOB]
GO
/****** Object:  Table [dbo].[AccountRoles]    Script Date: 12/21/2019 10:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 12/21/2019 10:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[PassWord] [nvarchar](max) NULL,
	[IdAccountRoles] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Company]    Script Date: 12/21/2019 10:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](200) NULL,
	[MoreInfo] [nvarchar](max) NULL,
	[IdAccount] [int] NULL,
	[Avatar] [image] NULL,
	[TimeTable] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Degree]    Script Date: 12/21/2019 10:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degree](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SchoolTrain] [nvarchar](max) NULL,
	[FacultyTrain] [nvarchar](max) NULL,
	[Diploma] [nvarchar](max) NULL,
	[MajorTrain] [nvarchar](max) NULL,
	[Ranked] [nvarchar](100) NULL,
	[TimeBegin] [nvarchar](40) NULL,
	[TimeEnd] [nvarchar](40) NULL,
	[MoreInfo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Experience]    Script Date: 12/21/2019 10:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experience](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Position] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
	[TimeBegin] [nvarchar](40) NULL,
	[TimeEnd] [nvarchar](40) NULL,
	[MoreInfo] [nvarchar](max) NULL,
	[IsHaveExperience] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Job]    Script Date: 12/21/2019 10:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCompany] [int] NOT NULL,
	[TypeJob] [nvarchar](max) NULL,
	[NatureOfJob] [nvarchar](max) NULL,
	[Major] [nvarchar](max) NULL,
	[Place] [nvarchar](max) NULL,
	[Request] [nvarchar](max) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[MoreInfo] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Salary] [nvarchar](max) NULL,
	[Timeregister] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LanguageSkill]    Script Date: 12/21/2019 10:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageSkill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[English] [int] NULL,
	[French] [int] NULL,
	[Russian] [int] NULL,
	[Korean] [int] NULL,
	[Chinese] [int] NULL,
	[Japanese] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Member]    Script Date: 12/21/2019 10:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Position] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](max) NULL,
	[Place] [nvarchar](max) NULL,
	[Birthday] [nvarchar](30) NULL,
	[Sex] [nvarchar](20) NULL,
	[MarryStatus] [nvarchar](100) NULL,
	[AimJob] [nvarchar](max) NULL,
	[PersonalSkill] [nvarchar](max) NULL,
	[IdLanguageSkill] [int] NULL,
	[IdOfficeSkill] [int] NULL,
	[IdDegree] [int] NULL,
	[IdExperience] [int] NULL,
	[IdAccount] [int] NULL,
	[Avatar] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OfficeSkill]    Script Date: 12/21/2019 10:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficeSkill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Word] [int] NULL,
	[Excel] [int] NULL,
	[PowerPoint] [int] NULL,
	[Outlook] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Register]    Script Date: 12/21/2019 10:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register](
	[IdAccount] [int] NOT NULL,
	[IdJob] [int] NOT NULL,
	[STT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAccount] ASC,
	[IdJob] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AccountRoles] ON 

INSERT [dbo].[AccountRoles] ([Id], [DisplayName]) VALUES (1, N'Company')
INSERT [dbo].[AccountRoles] ([Id], [DisplayName]) VALUES (2, N'Member')
SET IDENTITY_INSERT [dbo].[AccountRoles] OFF
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [UserName], [PassWord], [IdAccountRoles]) VALUES (1, N'admin', N'admin', 1)
INSERT [dbo].[Accounts] ([Id], [UserName], [PassWord], [IdAccountRoles]) VALUES (2, N'member', N'member', 2)
INSERT [dbo].[Accounts] ([Id], [UserName], [PassWord], [IdAccountRoles]) VALUES (3, N'member1', N'member1', 2)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([Id], [DisplayName], [Address], [Phone], [Email], [MoreInfo], [IdAccount], [Avatar], [TimeTable]) VALUES (2, N'HCM Hospital', N'Hồ Chí Minh', N'0987654321', N'hospital@gmail.com', N'Không có', NULL, NULL, N'Monday - Friday')
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[Degree] ON 

INSERT [dbo].[Degree] ([Id], [SchoolTrain], [FacultyTrain], [Diploma], [MajorTrain], [Ranked], [TimeBegin], [TimeEnd], [MoreInfo]) VALUES (1, N'Trường Đại Học Công Nghệ Thông Tin', N'KTPM', N'Kỹ Sư Công Nghệ Thông Tin', N'Kỹ Thuật Phần Mềm', N'Giỏi', N'1/2/2019', N'2/19/2020', NULL)
INSERT [dbo].[Degree] ([Id], [SchoolTrain], [FacultyTrain], [Diploma], [MajorTrain], [Ranked], [TimeBegin], [TimeEnd], [MoreInfo]) VALUES (2, N'Công nghệ thông tin', N'CNPM', N'Kỹ Sư Công Nghệ Phần Mềm', N'Kỹ thuật phần mềm', N'Giỏi', N'9/5/2018', N'9/5/2020', N'Tốt')
SET IDENTITY_INSERT [dbo].[Degree] OFF
SET IDENTITY_INSERT [dbo].[Experience] ON 

INSERT [dbo].[Experience] ([Id], [Position], [Company], [TimeBegin], [TimeEnd], [MoreInfo], [IsHaveExperience]) VALUES (1, N'Giám Đốc', N'UIT', N'1/2/2018', N'2/19/2020', N'Không có ', NULL)
INSERT [dbo].[Experience] ([Id], [Position], [Company], [TimeBegin], [TimeEnd], [MoreInfo], [IsHaveExperience]) VALUES (2, NULL, NULL, N'1/1/0001', N'1/1/0001', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Experience] OFF
SET IDENTITY_INSERT [dbo].[Job] ON 

GO
SET IDENTITY_INSERT [dbo].[Job] OFF
SET IDENTITY_INSERT [dbo].[LanguageSkill] ON 

INSERT [dbo].[LanguageSkill] ([Id], [English], [French], [Russian], [Korean], [Chinese], [Japanese]) VALUES (1, 5, 5, 5, 5, 5, 4)
INSERT [dbo].[LanguageSkill] ([Id], [English], [French], [Russian], [Korean], [Chinese], [Japanese]) VALUES (2, 5, 3, 3, 4, 5, 5)
SET IDENTITY_INSERT [dbo].[LanguageSkill] OFF
SET IDENTITY_INSERT [dbo].[Member] ON 

SET IDENTITY_INSERT [dbo].[Member] OFF
SET IDENTITY_INSERT [dbo].[OfficeSkill] ON 

INSERT [dbo].[OfficeSkill] ([Id], [Word], [Excel], [PowerPoint], [Outlook]) VALUES (1, 5, 5, 5, 3)
INSERT [dbo].[OfficeSkill] ([Id], [Word], [Excel], [PowerPoint], [Outlook]) VALUES (2, 5, 5, 5, 4)
SET IDENTITY_INSERT [dbo].[OfficeSkill] OFF
INSERT [dbo].[Register] ([IdAccount], [IdJob], [STT]) VALUES (2, 1, NULL)
INSERT [dbo].[Register] ([IdAccount], [IdJob], [STT]) VALUES (2, 62, NULL)
INSERT [dbo].[Register] ([IdAccount], [IdJob], [STT]) VALUES (25, 12, NULL)
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([IdAccountRoles])
REFERENCES [dbo].[AccountRoles] ([Id])
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD FOREIGN KEY([IdAccount])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD FOREIGN KEY([IdCompany])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_IdAccount] FOREIGN KEY([IdAccount])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_MEMBER_IdAccount]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_IdDegree] FOREIGN KEY([IdDegree])
REFERENCES [dbo].[Degree] ([Id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_MEMBER_IdDegree]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_IdExperience] FOREIGN KEY([IdExperience])
REFERENCES [dbo].[Experience] ([Id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_MEMBER_IdExperience]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_IdLanguageSkill] FOREIGN KEY([IdLanguageSkill])
REFERENCES [dbo].[LanguageSkill] ([Id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_MEMBER_IdLanguageSkill]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_IdOfficeSkill] FOREIGN KEY([IdOfficeSkill])
REFERENCES [dbo].[OfficeSkill] ([Id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_MEMBER_IdOfficeSkill]
GO
ALTER TABLE [dbo].[Register]  WITH CHECK ADD FOREIGN KEY([IdAccount])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Register]  WITH CHECK ADD FOREIGN KEY([IdJob])
REFERENCES [dbo].[Job] ([Id])
GO
USE [master]
GO
